@supports (-webkit-text-stroke: 1.5px #1a1a1a)
{
	h1 
	{
		-webkit-text-stroke: 1.5px #1a1a1a;
	}
	h2 
	{
		-webkit-text-stroke: 1.5px #1a1a1a;
	}
	footer p
	{
		-webkit-text-stroke: 0.3px #1a1a1a;
	}
}

header
{
	background-color: #3B2B1E;
	color: white;
	margin: 0;
	padding-top: 1px;
	text-align: center;
}

header h1 
{
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 90px;
}

header h2
{
	margin-top: 10px;
	font-size: 40px;
	padding-bottom: 10px;
	letter-spacing: 4px;
}

body
{
	background-color: #F9F8E7;
	margin: 0px;
}

body img
{
	border: 6px outset #916c4b;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 50px;
	margin-bottom: 4%;
	font-size: 50px;
	width: 44%;
	height: 44%;
	border-radius: 8px;
}

#container a
{
	background-color: #F8B173;
	padding: 5px;
	margin: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border: none;
	margin-top: 50px;
	font-size: 50px;
	font-family: "Times New Roman", Times, serif;
	border: 6px outset #916c4b;
}

#container a:link, a:visited
{
	color: #482711;
	text-decoration: none;
}

#container a:hover
{
	background-color: #E98834;
}

#container
{
	display: block;
	text-align: center;
	margin-bottom: 10%;
}

footer
{
	flex-shrink: 0;
	font-family: "Helvetica", Helvetica, sans-serif;
	font-size: 14px;
	position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    width: 100%;
    height: 30px;
    margin-top: 100px;
    padding-top: 10px;
    text-align: center;
    color: white;
	background-color: #3B2B1E;
}

@media only screen and (max-width: 1000px)
{

@supports (-webkit-text-stroke: 1.5px #1a1a1a)
{
	h1 
	{
		-webkit-text-stroke: 0;
	}
	h2 
	{
		-webkit-text-stroke: 0;
	}
	footer p
	{
		-webkit-text-stroke: 0;
	}
}

body img
{
	border: 0px;
	margin-top: 6%;
	width: 100%;
	height: 100%;
}

#container
{
	margin-top: 10%;
	margin-bottom: 20%;
}

	header h1
	{
		font-size: 40px;
	}

	header h2
	{
		font-size: 20px;
	}

	#container a
	{
		padding: 30px 60px 30px 60px;
	}
}

@media only screen and (max-width: 400px)
{
	#container a
	{
		margin-top: 30%;
	}
}