@font-face 
{
	font-family: SitkaSmall;
	src: url(../fonts/SitkaSmall.ttf) format("truetype");
}

header
{
	background-color: #3B2B1E;
	color: white;
	margin: 0;
	padding-top: 1px;
	text-align: center;
}

header h1 
{
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 40px;
}

header h2
{
	margin-top: 10px;
	font-size: 20px;
	padding-bottom: 10px;
	letter-spacing: 4px;
}

body
{
	background-color: #F9F8E7;
	margin: 0px;
	text-align: center;
}

.wrapper
{
	display: block;
	text-align: center;
	margin-bottom: 2%;
	font-family: SitkaSmall;
	font-size: 20px;
}

.wrapper img
{
	width: 50%;
}

#container
{
	display: block;
	text-align: center;
	margin-bottom: 8%;
}

#button1
{
	background-color: #F8B173;
	padding: 5px;
	margin: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border: none;
	font-size: 50px;
	font-family: "Times New Roman", Times, serif;
}

#button1 a:link, a:visited
{
	color: #482711;
	text-decoration: none;
}

#button1:hover
{
	background-color: #E98834;
}

footer
{
	flex-shrink: 0;
	font-family: "Helvetica", Helvetica, sans-serif;
	font-size: 14px;
	position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    color: white;
	background-color: #3B2B1E;
}

@media only screen and (max-width: 400px)
{

#container
{
	margin-top: 20%;
	margin-bottom: 60%;
	font-size: 18px;
}

}

@media only screen and (max-width: 1000px)
{
	.wrapper img
	{
		width: 100%;
	}
}